<form action="/posts/<%= @post.id %>" method="POST">
	<input type="hidden" id="hidden" name="_method" value="patch">

	<input type="text" name="post[name]" id="name" value="<%= @post.name %>">
	<input type="text" name="post[content]" id="content" value="<%= @post.content %>">

	<input type="submit" name="submit" id="submit">
</form>